<h3>Open Harvest Opportunities</h3>

	<div class="row-fluid">
	  <div class="col-md-3"  ng-repeat="card in cards | filter: {zipCode: ''} | orderBy: 'produce'">
			<div class ="card-harvest">
				<img class="image" src="{{card.image}}"> </br>
				
				<div><h4>Produce in Box: {{card.produce}} </div>

				<div><h4>Where: {{card.farmName}}, {{card.zipCode}}</h4></div>

				<div><h4>When?: {{card.date}} at {{card.time}}</h4></div>

				<button class="btn btn-info listing" ng-click="cardDetails(card.id)">Sign Up</button>
			</div>