<h2>Open Harvest Opportunities</h2>
<h5>Growers, click here to <a href="#!/cards/new/harvest">add</a> or <a href="#!/farmerscards">edit</a> your harvest listings</h5>
<div class="row-fluid">
  	<div class="col-md-3"  ng-repeat="card in cards | filter: {zipCode: ''} | orderBy: 'produce'">
		<div class ="card-harvest">
			<img class="image" src="{{card.image}}"> </br>
			
			<div><h4>What: {{card.produce}}</h4></div>

			<div><h4>Where: {{card.farmName}}, {{card.zipCode}}</h4></div>

			<div><h4>When: {{card.date}}, {{card.time}}</h4></div>

			<button class="btn btn-info listing" ng-click="cardDetails(card.id)">Sign Up</button>
		</div>
	</div>
</div>