<br>
<br>
	<h4>To add a new produce listing: <button type="button" class="btn btn-success" ng-click="showTypes()">New Listing</button></h4>
	<br>
	<br>
	<br>

	<h4>To edit or delete an existing produce listing:
	<button type="button" class="btn btn-success" ng-click="showFarmersCards()" >My Listings</button></h4>
	<br>
	<br>
	<br>

	<h4>To edit or delete Gleaner Guild account:
	<button type="button" class="btn btn-success" ng-click="showGleanerCard(user)" >Edit Gleaner</button></h4>
	<br>
	<br>
	<br>
