<h1>Welcome, Growers and Gleaners!</h1>


<label>To add a new listing, click here</label>
<button type="button" class="btn btn-success" ng-click="showTypes()">New Listing</button>
<br>
<br>

<label>To edit or delete an existing produce listing, click here</label>
<button type="button" class="btn btn-success" ng-click="showFarmersCards()" >Edit Existing Opportunity</button>
<br>
<br>

<label>To edit or delete Gleaner Guild account, click here</label>
<button type="button" class="btn btn-success" ng-click="showGleanerCard(user)" >Edit Gleaner</button>
<br>
<br>

