<h2>Your Listings</h2>
<h4>Change your mind? Click <a href="#!/boxoharvest"> here</a> to create a completely new listing. </h4>
  <div class="row-fluid">
    <div class="col-md-3"  ng-repeat="card in farmersCards | orderBy: 'produce'">
      <div class ="card-farmer">
        <img class="image" src="{{card.image}}"> </br>
        
        <div><h4>Produce in Box: {{card.produce}} </div>

        <div><h8>Fine Print: {{card.finePrint}}</h8></div>

        <div><h4>Date: {{card.date}}</h4></div>

        <div class="button-box">
          <button class="btn btn-info edit" ng-click="editCard(card.id)">Edit Listing</button>
          <button class="btn btn-warning delete" ng-click="deleteListing(card.id)">Delete Listing</button>
        </div>
      </div>
    </div>
  </div>
</div>


