<h3>The best gleaners around! </h3>

<div class="col-xs-1" ng-click="editCard(card.id)"><button class="btn btn-info" ng-click="signUp()">Sign Up!</button></div>
<br>
<br>


<div ng-repeat="card in guildCards | orderBy: 'name'">
  <div class="panel panel-default">
    <div class="panel-body">
 
      <div class="col-xs-7">{{card.name}}</div>
      <div class="col-xs-2">{{card.skill}}</div>
      <div class="col-xs-1">{{card.phone}}</div>
      <div class="col-xs-1">{{card.email}}</div>
      
      <br>
      <!-- show hide this button if logged in/not -->
      <h4>This Gleaner has an average rating of: {{card.rating}}</h4>
      <a class="btn btn-info" href="/#!/home">See More Comments</a>
      <div class="col-xs-1" ><button class="btn btn-info" ng-click="rateGleaner(card.id)">Rate this gleaner!</button></div>
    </div>
  </div>
</div>