<h2>Details about Gleaner {{card.name}} </h2>

<content>
  <card class="gleaner-card-detail">
    <div class="card-detail-image">  
      <img src={{card.image}} class="card-detail-image" alt="image">
    </div>
    <br>
    <div class="card-info">
    	<label>{{card.name}}</label>
		<span class="headline">{{card.produce}}</span><br>
		<label>Rating: </label>
		<span class="headline">{{card.rating}}/4</span><br>
		<label>Skills: </label>
		<span class="headline">{{card.skill}}</span><br>
		<label>Email: </label>
		<span class="headline">{{card.email}}</span><br>
		<label>What others are saying: </label>
		<span class="headline">{{card.comment}}</span><br>
		
		
  		<label>Get {{card.name}} to come to your farm!</label>
      	<button type="button" class="btn btn-success" ng-click="textGrower()">Text {{card.name}}</button>	
      	<br>
      	<br>
      	<label>Worked with {{card.name}}? Rate him!</label>
      	<button type="button" class="btn btn-success" ng-click="rateGleaner(card.id)">Rate {{card.name}}</button>
      	<br>
      	<br>

    </div>
  </card>
</content>


