<h2>Details about Gleaner "{{card.produce}}" </h2>

<content>
  <card class="gleaner-card-detail">
    <div class="card-detail-image">  
      <img src={{card.image}} class="card-detail-image" alt="image">
    </div>
    <br>
    <div class="card-info">
    	<label>{{card.name}}</label>
		<span class="headline">{{card.produce}}</span><br>
		<label>Rating: </label>
		<span class="headline">{{card.rating}}/4</span><br>
		<label>Zip Code: </label>
		<span class="headline">{{card.zipCode}}</span><br>
		<label>Fine Print: </label>
		<span class="headline">{{card.finePrint}}</span><br>
		<label>How much: </label>
		<span class="headline">{{card.amount}}</span><br>
		<label>Harvest Date: </label>
		<span class="headline">{{card.date}}</span><br>
		<label>Harvest Time: </label>
		<span class="headline">{{card.time}}</span><br>
		
  		<label>Confirm this havest opportunity or ask Grower a question instantly!</label>

      	<button type="button" class="btn btn-success" ng-click="textGrower()">Text Grower</button>	

    </div>
  </card>
</content>