
<!-- <button type="button" class="btn btn-success" ng-click="findBox()">Find A Box</button>

<button type="button" class="btn btn-success" ng-click="findHarvest()">Find A Harvest</button>

<button type="button" class="btn btn-success" ng-click="shareProduce()">Add or Edit Your Listings</button>	

<button type="button" class="btn btn-success" ng-click="joinGuild()">Join the Gleaner Guild</button>	 -->

<div class="row">
    <div class="col-md-3 top" >
    	<div class="picture-frame">
    		<a href="#!/cards/all/box"><img class="imagehome" src="images/box.jpg"></a>
	        <label class="home-label">Find a Produce Box</label>
	     </div>
	</div>
	<div class="col-md-3" >
	    <div class="picture-frame">
	        <a href="#!/cards/all/harvest"><img class="imagehome" src="images/harvesting.jpeg"></a>
	        <label class="home-label">Find a Harvest</label>
	    </div>
	</div>
</div>
<div class = "row">
	<div class="col-md-3 bottom">
	    <div class="picture-frame">    
	        <a href="#!/chooseyouradventure"><img class="imagehome" src="images/addlisting.jpg"></a>
	        <label class="home-label">Add or Edit Your Listings</label>
		</div>
	</div>
	<div class="col-md-3" >
		<div class="picture-frame">
	        <a href="#!/gleanerguild"><img class="imagehome" src="images/gleanerguild.jpg"></a>
	        <label class="home-label">Join the Gleaner Guild</label>
	    </div>
	</div>
</div>
      


  <!-- ng-repeat="card in guildCards | orderBy: 'name'" -->