<h1>{{title}}</h1>

<form>
  <div class="form-group">
    <label>Produce in box</label>
    <input type="text" class="form-control" placeholder="mixed greens, small beets, etc" ng-model="newCard.produce"/>
  </div>
  <div class="form-group">
    <label>Box Size</label>
    <input type="text" class="form-control" placeholder="1 bushel, 5 pounds, etc" ng-model="newCard.boxSize" />
  </div>
  <div class="form-group">
    <label>Pick-Up Location</label>
    <input type="text" class="form-control" placeholder="1234 Main Street 49626" ng-model="newCard.pickUp"/>
  </div>
  <div class="form-group">
    <label>Pick-Up Time</label>
    <input type="text" class="form-control" placeholder="6-8am, before 3pm, etc" ng-model="newCard.time" />
  </div>
    <div class="form-group">
    <label>Pick-Up Date</label>
    <input type="text" class="form-control" placeholder="3/7/09, etc" ng-model="newCard.date" />
  </div>
  <div class="form-group">
    <label>Cost per Box</label>
    <input type="text" class="form-control" placeholder="$20, etc" ng-model="newCard.cost" />
  </div>
  <div class="form-group">
    <label>Number Available</label>
    <input type="text" class="form-control" placeholder="enter a number" ng-model="newCard.numberAvailable" />
  </div>
    <div class="form-group">
    <label>Order Deadline</label>
    <input type="text" class="form-control" placeholder="4/15/17, etc" ng-model="newCard.orderBy" />
  </div>
  <div class="form-group">
    <label>Farm Name</label>
    <input type="text" class="form-control" placeholder="Windy Acres" ng-model="newCard.farmName" />
  </div>
  <div class="form-group">
    <label>The Fine Print</label>
    <input type="text" class="form-control" placeholder="some leaves are holy, certified organic, etc" ng-model="newCard.finePrint"/>
  </div>
  <input-container class="icon-float block">
    <label>Add an Image URL</label>
    <input ng-model="newCard.image" type="text" placeholder="Add URL for image">  
  </input-container>
  <br>
  <br>
  <button class="btn btn-default" ng-click="addNewCard()">{{btnText}}</button>
</form>