<h1>{{title}}</h1>

<form>
	<!--     <img src=""> -->
  <div class="form-group">
    <label>Produce to be harvested</label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="radishes, sweet potato greens, etc" ng-model="newCard.produce" />
  </div>
  <div class="form-group">
    <label>Approximate amount available</label>
    <!-- TODO: Hook up this form to our JS for submitting -->
    <input type="text" class="form-control" placeholder="2 bushels, 2 acres etc" ng-model="newCard.amount" />
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" placeholder="01/12/17" ng-model="newCard.date"/>
  </div>
  <div class="form-group">
    <label>Time of Day</label>
    <input type="text" class="form-control" placeholder="6-8am, before 3pm, etc" ng-model="newCard.time" />
  </div>
  <div class="form-group">
    <label>Farm Name</label>
    <input type="text" class="form-control" placeholder="Windy Acres" ng-model="newCard.farmName" />
  </div>
  <div class="form-group">
    <label>Zip Code</label>
    <input type="text" class="form-control" placeholder="90210" ng-model="newCard.zipCode" />
  </div>
  <div class="form-group">
    <label>The Fine Print</label>
    <input type="text" class="form-control" placeholder="must harvest all or nothing, don't step on neighboring rows, pile residues, etc" ng-model="newCard.finePrint"/>
  </div>
  <!-- TODO: bind this button to a function -->
  <button class="btn btn-default" ng-click="addNewCard()">{{btnText}}</button>
  <br>
  <label>Click to Submit and Text Gleaner Guild Instantly:</label>
  <button class="btn btn-warning" ng-click="textGuild()">{{btnText2}}</button>
</form>